* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
 
}

a{
  padding: 20px;
  justify-content: space-around;
}
/* Home Page */
.section_index{
    background: url(/Bakery.png) no-repeat center center/cover rgba(0,0, 0, 1);
z-index: 1;
    width: 100%;
    height: 100vh;
    position: relative;
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.baking_logo{
    width: 300px;
    height: 300px;
    position: absolute;

}

.text{
    color: #FFDB58;
    text-align: center;
    padding-top: 100px;
}

h1{
font-size: 100px;
}

p{
    font-size: 35px;
}

a{
    text-decoration: none;
}

.container_menu{
  text-align: center;
  
}

.homepage-text{
  padding-top: 150px;
}

/* END */

/* Menu Page */

.Menu{
  background: url(/WoodenBG.jpg) no-repeat center center/cover;
}

.img{
  object-fit: cover;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; 
 

}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  
}

/* Style the front side */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  
}


.container_cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 150vh;
 justify-content: space-evenly;
 padding: 50px;
 
}

ul{
  list-style: none;
}



/* END */
 
  /* Order Page */

  .Order{
    background: url(/BlackBoard.jpg) no-repeat center center/cover;
  }

  .tables{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 
  }

  table{
border: 1px solid white;
  }
  th{
    border: 1px solid white;
    padding: 5px;
    color: white;
  }

  td{
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
padding: 5px;
color: white;
  }

  
  /* END */

  /* Check Out Page */

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background: url(/CheckoutBG.jpg) no-repeat center center/cover;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;

  }


  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }

  .checkout-bg{
    background-color: black;
  }

  /* END */

